<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Test_blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous"/>

        <!--Appel CSS Font Awesome-->
        <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css"
              integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE"
              crossorigin="anonymous">

        <!-- Font Google -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Damion"/>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>

        <!-- Appel CSS personnalisé -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/blog/style.css') }}"/>

    {% endblock %}
</head>
<body>

<section class="container">
    <header id="header">
        <div class="top">
            {% block navigation %}

                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ path('blog_contact') }}">Contact</a></li>
                                <li><a href="{{ path('blog_about') }}">About</a></li>
                                <li><a href="{{ path('blog_new') }}">New Post</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            {% endblock %}
        </div>

        <hgroup>
            <h2>{% block blog_title %}<a href="{{ path('blog_homepage') }}">blog_test</a>{% endblock %}</h2>
            <h3>{% block blog_tagline %}<a>Let's create a reusable blog</a>{% endblock %}</h3>
        </hgroup>
    </header>

    <section class="main-col">
        {% block body %}<a href="">blog_test</a>{% endblock %}
    </section>

    <div id="">
        {% block footer %}
            <div class="panel panel-default">
                <div class="panel-body">

                </div>
                <div class="panel-footer"></div>
            </div>
        {% endblock %}
    </div>
</section>
{% block javascripts %}{% endblock %}
</body>
</html>
